auth:
  user: <heroku email address>
  token: <heroku token>

common:
  addons:
    - "newrelic:stark"
    - "redistogo:mini"
    - "scheduler:standard"
    - "sendgrid:bronze"
  variables:
    MONGO_DATABASE: "ABC"
  papertrail: true

groups:
  api:
    apps:
      - <your app name on heroku>
    variables:
      - YOUR_VARIABLE: "ABC"
